* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    font-family: 'Arial', sans-serif;
}


.tree {
    position: relative;
    text-align: center;
}

.star {
    font-size: 4rem;
    color: gold;
    position: relative;
    z-index: 10;
    margin-bottom: -35px
}

.layer {
    position: relative;
    width: 0;
    height: 0;
    margin: 0 auto;
}

.layer1 {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #28a745;
    margin-top: 10px;
}

.layer2 {
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 150px solid #28a745;
    margin-top: -30px;
}

.layer3 {
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 200px solid #28a745;
    margin-top: -30px;
}

.trunk {
    width: 40px;
    height: 50px;
    background: #8b4513;
    margin: 0 auto;
    margin-top: -20px;
    border-radius: 4px;
}

.ball{
    border-radius: 50%;
    height: 0.6rem;
    width: 0.6rem;
    position: relative;
    z-index: 7;
}

.red{
    background-color: #ff0000;
    animation: gu 5s infinite;
    animation-timing-function: ease-in-out;
}


.green{
    background-color: #00ff00;
    animation: xu 5s infinite;
    animation-timing-function: ease-in-out;
}

.blue{
    background-color: #0000ff;
    animation: fu 5s infinite;
    animation-timing-function: ease-in-out;
}


@keyframes gu{
    25% {
        background-color: #0000ff;
        opacity: 1;
    }
    50% {
        background-color: #00ff00;
    }
    100% {
        background-color: #ff0000;
    }
}

@keyframes xu{
    25% {
        background-color: #ff0000;
        opacity: 1;
    }
    50% {
        background-color: #0000ff;
    }
    100% {
        background-color: #00ff00;
    }
}

@keyframes fu{
    25% {
        background-color: #00ff00;
        opacity: 1;
    }
    50% {
        background-color: #ff0000;
    }
    100% {
        background-color: #0000ff;
    }
}